h1{color:#cde951 !important;}
h1 {   
    width: 320px;
    padding: 10px;
    border: 5px solid green ;
  }
/*esto es un comentario*/

body{background-color: blue;}
ul{color: yellow;}
img{text-align: center;}
p{color: yellow;}

#paper-plane{
    position: fixed;
    bottom: 30px;
    right: 20px;
  }
#Foto_Rossi{margin-top: 5%;}
#titulo-principal{text-align: center;}